.postcard{
    max-width: 60rem;
    margin: auto;
    border: 1px solid #e3e3e3;
    border-radius: 13px;
    box-shadow: 5px 5px #e8e8e8;
    padding: 1rem;
    margin-bottom: 2rem;
}


/* Card Header */
.postcard_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.postcard_user_info{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1rem;
}

.postcard_user_info img{
    width: 50px;
    height: 50px;
    overflow: hidden;
    border: 2px solid black;
    border-radius: 50%;
    margin-right: 8px;
}

/* Card Body */
.cardbody_content{
    margin-top: 1rem;
    margin-left: 1rem;
}

/* Card Footer */
.cardfooter{
    margin-left: 1rem;
}

.cardfooter_icon{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;

}

.cardfooter_icon i{
    margin-right: 14px;
    font-size: 24px;
    cursor: pointer;
}

.sharemodal{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0008;
    z-index: 4;
    width: 100%;
    height: 100vh;
    overflow: auto;
}

.sharemodal_icon{
    max-width: 250px;
    width: 100%;
    background-color: white;
    margin: 40vh auto;
    padding: 20px;
    border-radius: 5px;
    font-weight: 600;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sharemodal_close{
    font-size: 1.6rem;
    font-weight: 800;
    transform: translate(10px, -20px);
    cursor: pointer;
}