.productscreen{
    max-width: 80rem;
    margin: auto;
}

.product_category{
    display: flex;
    justify-content: flex-end;
}

.product_category span{
    margin-right: 2rem;
}


/* Product Card */
.productcard_container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    justify-content: center;
    grid-gap:5px;
    overflow: hidden;
}

.productcard{
    display: block;
    padding: 1rem;
    cursor: pointer;
    margin: auto;
}

.productcard_name{
    font-size: 1.2rem;
}

.productcard_image{
    /* width: 270px;
    height: 270px;
    overflow: hidden; */
}

.productcard_image img{
    width: 270px;
    height: auto;
}

.productcard_price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



/* Product Detail */

/* Chrome, Safari, Edge, Opera */
.productdetail input::-webkit-outer-spin-button,
.productdetail input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.productdetail input[type=number] {
  -moz-appearance: textfield;
}

.productdetail_container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.productdetail_images{
    width: 55vw;
    margin: auto;
    padding: 3rem;
}

.productdetail_info{
    width: 45vw;
    margin: auto;
    padding: 3rem 3rem 3rem 15px;
}

.productdetail_info i{
    cursor: pointer;
}

.productdetail_name{
    font-size: 1.3rem;
    font-weight: 800;
}

.productdetail_price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.productdetail_cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.productdetail_cart input{
    width: 3rem;
    text-align: center;
    border: none;
}

.productdetail_seller{
    text-align: right;
}


/* Product Carousel */

/* Quantity Input */
.quantityinput{
    padding: 10px;
    border-radius: 10px;
}

.quantityinput i{
    cursor: pointer;
}
/* Chrome, Safari, Edge, Opera */
.quantityinput input::-webkit-outer-spin-button,
.quantityinput input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
.quantityinput input[type=number] {
  -moz-appearance: textfield;
}

.quantityinput input{
    width: 3rem;
    text-align: center;
    border: none;
}

/* Product Review */
.productdetail_reviews{
    width: 100%;
    height: 43rem;
    background-color: #fcfbe8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
    margin-top: 6rem;
    margin-bottom: 8rem;
}

.product_reviews_title{
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 10px;
}

.product_reviews_title img{
    width: 80px;
}

.product_reviews{
    width: 50%;
    padding: 3.5rem;
}

.product_review{
    width: 100%;
    height: 30rem;
    overflow: scroll;
    display: block;
    background-color: #e3d8ed;
    border-radius: 20px;

} 

.product_write_review_title{
    font-size: 3rem;
    font-weight: 800;
}

.product_write_review_title::after{
    content: "Share your idea for other people!";
    display: block;
    font-size: 13px;
    text-align: right;
    font-weight: 800;
    font-style: italic;
}
.product_write_review{
    width: 50%;
    padding-right: 3rem;
}

.product_write_review i{
    font-size: 1.3rem;
    margin-right: 5px;
    margin-bottom: 1rem;
    cursor: pointer;
}

.product_write_review textarea{
    min-width: 100%;
    border-radius: 10px;
    border: 2px solid black;
}

/* Review Card */
.review{
    margin: 2rem;
    border: 1px solid #cccccc;
    border-radius: 20px;
    padding: 1rem;
    background-color: white;
    box-shadow: 4px 4px 2px #cccccc;
}

.review_card_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review_card_header i{
    font-size: 1.3rem;
    margin-left: 6px;
    cursor: pointer;

}

.review_user_info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.review_user_image{
    width: 35px;
    height: 35px;
    overflow: hidden;
}

.review_user_image img{
    width: 100%;

}

.review_rating{
    margin: 5px 0 5px 0;
}

.review_comment{
    font-weight: 400;
}

/* Edit Review */
.edit_review_rating{
    margin: 2rem 0 1rem 0;
}

.edit_review_rating i{
    font-size: 1.3rem;
    margin-right: 5px;
    margin-bottom: 1rem;
    cursor: pointer;
}

.edit_review_comment textarea{
    min-width: 100%;
    border-radius: 10px;
    border: 2px solid black;
    padding: 5px;
}

